#### 자료구조 set (집합)
- 서로다른 그룹 간 연산 작업을 보다 쉽게 하기 위한 목적으로 탄생된 자료구조
- set()
   * set()은 list() // tuple() // dict()와 같은 프로토타입 객체 함수
   * list, tuple => 각각의 세부값에 인덱스 값을 부여하여 이터러블한 객체로 불리며 반복문에 활용할 수 있음
   * dict => 각각의 세부값에 인덱스 값을 부여할 수 없어 이터러블한 객체라고 명명할 수 없어 반복문에 활용이 불가
   * set => list와 tuple처럼 이터러블한 객체로 반복문에 활용할 수 있지만! 인덱스값을 부여받지 않지 않아 유사배열 자료구조로 불림.

#### set을 크롤링에서 활용하는 이유
- 크롤링시 발생되는 중복값을 하나로 정리하는 기능을 사용하기 위해 활용
  * 크롤링시 찾아온 값은 대부분 리스트형태로 불러오며 반복적으로 값을 찾을 경우 불필요한 값을 찾아오는 경우가 많음

#### set을 생성하는 방법
- 변수 = set()
- 변수 = set("apple") - set에 넣고싶은 요소 
   * 결과값 {'a', 'e', 'l', 'p'} -> 중복 없이 내용을 각각의 인자값으로 표출

In [2]:
data_set01 = set()
type(data_set01)

set

In [3]:
data_set02 = {"apple", "dell", "samsung", "LG"} #set은 {}에 속성을 띄지 않는 개별 값을 갖는 형식. set은 dict와 표현 방식{}내에 자료를 표현하는 기본구조가이 유사해, 내부 값을 형식을 꼭 확인해야함.
data_set02

{'LG', 'apple', 'dell', 'samsung'}

In [4]:
data_set03 = set("apple")
data_set03

In [ ]:
data_set04 = set("sm","jyp") #set의 요소는 복수로 들어올 수 없음

#복수로 표현하고 싶을때
data_set04 = {"sm","jyp"} #set 구조 형태로 변수에 할당하기

In [5]:
for data in data_set02 : #set의 특징 1, 이터러블한 객체로 반복, 조건문 활용 가능
    print(data)

LG
samsung
apple
dell

In [6]:
data_set02[0] #set의 특징, 인덱스를 부여받지 않아 인덱스값 찾을 수 없음

TypeError: 'set' object is not subscriptable

In [8]:
print("motorola" in data_set02) #set의 특징, 인덱스는 없지만 특정한 데이터를 찾을 수 있음
print("apple" in data_set02) #결과값으로 boolean값으로 표출됨

False
True

In [9]:
#set의 본질, 다른 그룹과의 연산 中 합집합(중복 데이터 필터링 기능)
data04 = {"피카츄","라이츄","꼬북이"}

In [10]:
data05 = {"잠만보","파이리","피카츄"}

In [11]:
data04 & data05 #그룹 비교를 통해 교집합을 찾는 행위

{'피카츄'}

In [12]:
data04 | data05 #그룹 비교를 통해 합집합을 찾는 행위, 그 과정에서 중복 데이터 값을 필터링을 할 수 있음

{'꼬북이', '라이츄', '잠만보', '파이리', '피카츄'}

In [15]:
#그룹 비교를 통해 차집합을 찾는 행위
data04 - data05

{'꼬북이', '라이츄'}

In [16]:
data05 - data04

{'잠만보', '파이리'}

In [17]:
data04 ^ data05 #그룹 비교를 통해 교집합을 제외한 나머지인 캐럿값을 찾는 행위

{'꼬북이', '라이츄', '잠만보', '파이리'}