# PYTHON이란?
- 객체 지향형 언어
- 객체는 Object라 칭함

## Python Basic

### 1. 기본 규칙
- code작성 시, 띄어쓰기 & 대,소문자 구분 주의할 것
- class라는 문법을 통해 각 변수, 문법, 기능들을 정의해 놓음
- alt+shift+아랫방향 화살표(윗 코드 복제)

### 2. 변수

#### 변수입력방식
- 직관적이고 명시적인 단어 활용

#### 변수 표기법
1. sneak : hello_world (2순위로 사용되는 표기법)
2. camel : helloWorld (1순위로 사용되는 표기법)
3. hungarian : HelloWorld (과거 주로 사용하던 표기법)

#### 변수 이름 설정시 주의사항
1. 변수의 이름은 숫자로 시작할 수 없음
2. Bool 타입 작성시 첫글자는 대문자( True, False )
  
### 3. 연산자
- 사칙연산
- 비교연산

### 4. 자료타입
- type
- Str : 문자열
- int : 정수
- float : 부동소수
- bool : 참, 거짓 판별

- ex.
1. str_data = "Hello" # 문자열 데이터
2. int_data = 1 # 정수형 데이터
3. float_data = 1.1 # 부동소수
4. bool_data = True # 논리형 (true, False 구분) 데이터

print(type(str_data), type(int_data), type(float_data), type(bool_data))
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>


 
### 5. 형변환
- int()
- float()
- str()


## 6. 문자열
- \n : 개행
- """ """ : 문자열을 자유자제로 활용하게 만들어주는 것
- count() : 객체 안에 특정 문언가를 셀때 사용 (문자형 객체에서 사용)
- len() : 객체의 길이를 세는 용도
- find() : 특정 문자열이 어디서부터 시작하는가를 찾고싶을때 사용
- replace() : 인자값을 찾아 다른 인자값으로 변경할 때 사용
- [index]
- [index:index] : 슬라이싱을 의미
- strip() : 잘라내기 기능을 제공
- format() **유의사항/독립적으로 사용될때 주의

### 7. F-string
- f"문자열{변수}"


## 내장함수(*Built-in Function)
- print()
- input() : input값은 기본적으로 str처리가 되어 숫자 입력 희망시 형변환을 해야한다.
- type()


## 단축키
- a, cell 위에 신규 cell 생성
- b, cell 아래에 신규 cell 생성
- dd, 희망 cell 삭제
- ctrl+z, 되돌리기
- enter, 행바꿈(*개행)
- ctrl+enter, cell 실행(*code running)

## 개행 문자열
- \n 행바꿈
-

In [7]:
num =1 
# 위 코드 읽는 방법, num이라는 변수 안에 1이라는 값을 할당
# num -> 변수 (변수란, 어떤값을 담을 수 있는 그릇, 직관&명시적 단어 활용)

print(num) 
# 위 코드 읽는 방법, print라는 함수 안에 num이라는 변수를 인자값(argument)으로 사용한다.
# print() -> 특정 텍스트 뒤에 소괄호()가 나오면 함수(function/특정한 기능을 가진 단어)이라고 부름
# () 소괄호에 들어간 내용은 인자값이라고 부름(변수가 아님)

1

In [14]:
#자료의 타입이 중요한 이유
print(type(1))
print(type("1"))
#문법, 문장, 변수의 입력 방식에 따라 class 및 타입이 변경됨.

<class 'int'>
<class 'str'>

In [24]:
# 4칙연산+우선연산 가능
a = 3 #a라는 변수에 3이라는 인자값을 할당한다
b = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(b/a)
print(b-a)
print(7*3/2-8)

10
-4
21
0.42857142857142855
2.3333333333333335
4
2.5

In [ ]:
print(15/7) # 나누기 연산자
print(15//7) # //의 의미, 나눗셈 후 몫의 값을 정수로 찾아오는 연산자
print(15 % 7) # %의미, 나머지 연산자
print(2**3) # **의 의미, 밑의 값(2)을 지수(3)만큼 곱하는 연산자

In [23]:
str_data = "Hello" # 문자열 데이터
int_data = 1 # 정수형 데이터
float_data = 1.1 # 부동소수
bool_data = True # 논리형 (true, False 구분) 데이터

print(type(str_data), type(int_data), type(float_data), type(bool_data))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [27]:
digit1 = 10
digit2 = 20
name = "orzl"
print(digit1 + digit2) # 동일한 자료형태의 경우 연산처리 가능
# print(digit1 + name) 도일하지 않은 자료 형태의 경우 연산처리 불가

30

In [33]:
num1 = 2
num2 = 4

print(num1 < num2)
print(num1 > num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2) # ==은 동치의 의미, 주의사항 =는 할당, 배정의 의미라 활용 주의
print(num1 != num2) # !의 의미, not을 의미함
# run하여 나온 True, False의 값이 반환되었다고 표현함.
# 추후 기저조건을 설정할때 활용

True
False
False
True
False
True

In [ ]:
age = 30
name = "orzl"
weight = 53
height = 161
foot_size = 230
glass = True
marriage = True
gender = "female"
hobby = "dance"

In [45]:
### 반지름이 10인 변수를 선언하고, 해당 반지름을 기준으로 하는 지름, 둘레, 넓이 값을 변수로 선언 및 할당 후 출력

r = 10 # 반지름

a = 2*r
b = 3.14*2*r
c = 3.14*(r**2)
print("반지름 - ",r)
print("지름 - ",a)
print("둘레 - ",b)
print("넓이 - ",c)



#answer
radius = 10
pi = 3.1415

radius2 = radius*2
radius3 = 2*pi*radius
radius4 = pi*(radius**2)
print("1. 반지름 : ",radius)
print("2. 지름 : ",radius2)
print("3. 둘레 : ",radius3)
print("4. 넓이 : ",radius4)
print("1. 반지름 : ",r,",", "2. 지름 : ",a,",", "3. 둘레 : ",b,",", "4. 넓이 : ",c)

print(f"1.반지름 : {radius}") #F-String문법 = Formatted String
print(f"1.반지름 : {radius}",", ",f"2.지름 : {radius2}",", ",f"3.둘레 : {radius3}",", ",f"4.넓이 : {radius4}")

반지름 -  10
지름 -  20
둘레 -  62.800000000000004
넓이 -  314.0
1. 반지름 :  10
2. 지름 :  20
3. 둘레 :  62.830000000000005
4. 넓이 :  314.15000000000003
1. 반지름 :  10 , 2. 지름 :  20 , 3. 둘레 :  62.800000000000004 , 4. 넓이 :  314.0
1.반지름 : 10
1.반지름 : 10 ,  2.지름 : 20 ,  3.둘레 : 62.830000000000005 ,  4.넓이 : 314.15000000000003

In [63]:
#input
name = input("what is your name?")
address = input("where are you from?")
gender = input("man or woman?")
age = input("How old are you")

print(type(int(age)))
print(f"hi my name is {name}, I from {address} and {gender}, {int(age)}")

what is your name? orzl
where are you from? south korea
man or woman? woman
How old are you 30

<class 'int'>
hi my name is orzl, I from south korea and woman, 30

In [66]:
#형변환(자료형 변환)
#num1 = input()
#num2 = input()
#input값은 기본적으로 str으로 입력되기 때문에 multiply(곱셈) 희망시, int, float 등의 형태로 형변환이 필요
num1 = int(input())
num2 = int(input())
print(num1*num2)

 10
 10

100

In [79]:
num3 = 6.3
num4 = 1

print(num3)
print(int(num3))


#부동소수를 int로 치환하는 순간 정수값만 출력됨

print(num4, type(num4)) #아직 반환되기 전
print(float(num4))
num5 = float(num4)

#print(num5, type(num5))
#정수를 float으로 치환하는 순간 부동소수화된 값이 출력됨

num6 = str(num4) #반환작업
#print(num6, type(num6))
#기본 정수값을 str으로 치환하면 겉보기엔 정수값처럼 보이나 type이 문자열로 변경됨

num7 = int(num3)
#num5, num6으로 type치환한 내용을 할당하는 방법도 있지만 num3, num4에 type치환한 내용을 재반환하는 방법도 있음
#num3 = int(num3)
#num4 = float(num4)
#print(num3,",",type(num3))
#print(num4,",",type(num4))
print(num4,"의 원래 타입은",type(num4),"이었으나",num6,"로 치환됨에 따라",type(num6),"로 변경되었습니다.")
print(num4,"의 원래 타입은",type(num4),"이었으나",num5,"로 치환됨에 따라",type(num5),"로 변경되었습니다.")
print(num3,"의 원래 타입은",type(num3),"이었으나",num7,"로 치환됨에 따라",type(num7),"로 변경되었습니다.")

6.3
6
1 <class 'int'>
1.0
1 의 원래 타입은 <class 'int'> 이었으나 1 로 치환됨에 따라 <class 'str'> 로 변경되었습니다.
1 의 원래 타입은 <class 'int'> 이었으나 1.0 로 치환됨에 따라 <class 'float'> 로 변경되었습니다.
6.3 의 원래 타입은 <class 'float'> 이었으나 6 로 치환됨에 따라 <class 'int'> 로 변경되었습니다.

In [100]:
# string : 문자열

article1 = "주인공 성기훈의 내레이션과 함께, 어릴 적 기훈이 동네 친구들과의 오징어 게임에서 이기는 장면을 보여준 후 타이틀이 등장하면서 시작한다."
article2 = """성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고,
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고
어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며
우여곡절 끝에 456만 원이라는 거금을 얻게 된다. [4]밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시,
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다.
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다. [5]
어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를 사주지만,
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다. 결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을
위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다."""

# 의도하지 않은 개행처리가 많이 들어간 문장이 경우, """를 삽입하여 자유롭게 변경할 수 있는 문장으로 변경할 수 있다

print(article2)

성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고,
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고
어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며
우여곡절 끝에 456만 원이라는 거금을 얻게 된다. [4]밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시,
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다.
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다. [5]
어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를 사주지만,
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다. 결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을
위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다.

In [101]:
# article2라는 변수를 선언했고, 해당 변수에 문자열 형태의 값을 할당
# article2라는 변수에 문자열 형태의 값이 할당됨으로 인해, article2라는 변수는 문자열 객체라고 부를 수 있게 됨.
# 객체는 어떤 타입의 객체이냐에 따라 사용할 수 있는 메서드 함수가 결정된다.
# 함수의 형태 => 문자열()

print(article2.count("가영")) #article2 객체 안에 특정 문언가를 셀때 사용하는 메서드 함수(문자형 객체에서 사용)
print(article2.count("기훈"))
print(len(article2))

print(article2.find("성")) #컴퓨터 언어는 binary language이기때문에 이분법적 사고를 적용하여 첫 시작점을 1이 아닌 0으로 봐야한다
print(article2.find("인")) #성이라는 문자열은 0번째 인덱스값을 가지며 인이라는 문자열은 1번째 인덱스값을 갖는다.

# 동의보감 -> 동(0번째 인덱스), 의(1번째 인덱스), 보(2번째 인덱스), 감(3번째 인덱스) 
## 문자열의 전체 총개수 - 1 = 마지막 문자열의 인덱스값과 항상 동일

6
3
567
0
1

In [106]:
article3 = """Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023."""
print(article3)
print(article3.find("A"))
print(article3.find("a"))

# 프로그래밍 언어는 영어의 대문자, 소문자는 꼭 구분함
# 컴퓨터는 띄어쓰기도 하나의 문자열로 인식

print(article3.replace("Brad Pitt's", "David")) #replace는 인자값이 2개 필요

Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.
0
8
Actor David home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.

In [132]:
# 파이썬>문자열>슬라이스 기능제공


text01 = "python"
print(text01)
print(text01.find("p"))
print(text01[0])
print(text01[3])
print(len(text01))
print(text01[len(text01)-1])

print(text01[0:2])
print(text01[2:4])
print(text01[4:6])
print(text01[-2])

python
0
p
h
6
n
py
th
on
o

In [144]:
#strip

some_string = "   computer   "
print(len(some_string))
print(some_string.strip())

some_string2 = some_string.strip()
print(len(some_string2))

some_string3 = ",,,David,,,"
print(some_string3.strip(","))

14
computer
8
David

In [158]:
var01 = "pen"
var02 = "apple"
var03 = "pineapple"
print(f"I have a {var01}. I have a {var02}, uh {var02}{var01}")
print("I have a {}. I have a {}".format("pen","apple"))
print("I have a {1}. I have a {0}".format("pen","apple"))
print("I have a {0}. I have a {0}".format("pen","apple"))

I have a pen. I have a apple, uh applepen
I have a pen. I have a apple
I have a apple. I have a pen
I have a pen. I have a pen

In [166]:
interest = 0.897
print(format(interest, ".2f"))

0.90

In [175]:
print("I have a %f, I have a %s." % (1.375,"apple"))

# %s : 문자열, %d/%i : 정수, %f : 부동소수

I have a 1.375000, I have a apple.