#### 자료 구조 형태
- 숫자(int, float), 문자(str), 불리언(boolean) 
- 리스트(list)
- 튜플(tuple)
  * 리스트와 달리 튜플은 소괄호 형태를 띔
  * 튜플은 최초 생성 후, 값을 추가/삭제 불가
  * 단, 튜플 간 병합 및 복제는 가능
  * 튜플은 리스트처럼 이터러블한 객체 속성을 가짐 = 반복문에 사용 가능 && 튜플 내부 아이템들은 각각 저마다의 고유한 인덱스 값을 가짐
  * 함수의 반환값으로 찾아온 값을 활용해 일반 변수 안에 값을 넣을 때, 구조분해할당의 형식으로 값을 전달할 수 있음
  * 튜플을 수정, 편집, 삭제 희망시 리스트로 변환 필요 -> list(튜플자료형)

In [4]:
listItems = []
tupleItems = (1,2,3)

print(type(listItems))
print(type(tupleItems))

<class 'list'>
<class 'tuple'>

In [5]:
for item in tupleItems :
    print(item)

1
2
3

In [6]:
del tupleItems[1] #tuple은 한번 선언한 요소를 삭제 할 수 없기 때문에 오류가 뜸

TypeError: 'tuple' object doesn't support item deletion

In [7]:
tupleItems.append(4) #tuple은 한번 선언한 요소를 추가 할 수 없기 때문에 오류가 뜸

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
tupleItems[4] = 4 #tuple은 한번 선언한 요소에 새로운 값 할당 불가한 성격으로 오류 발생

TypeError: 'tuple' object does not support item assignment

In [11]:
tuple01 = (1,2)
tuple02 = (3,4)
print(tuple01 + tuple02)
print(tuple01*3)
#tuple끼리의 자료 결합, 반복 등 가능

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [21]:
x = 1
y = 2

In [18]:
# temp = x # temp는 임시 보관함의 특징을 지니며, 변수값을 잠시 저장해 놓는 역할
# x = y
# y = temp

In [23]:
(x, y) = (y, x)

In [24]:
x

2

In [27]:
def quot_and_rem(x,y): #(x,y)의 값은 이미 tuple로 지정
    quot = x // y
    rem = x % y
    return quot, rem #quot와 rem에 함수에서 진행된 값을 반환하고 끝내라

In [31]:
result = quot_and_rem(10,3) #result라는 값에 tuple의 형태
result
type(result)

tuple

In [32]:
#구조 분해 할당
(quot01, rem01) = quot_and_rem(10,3)

In [33]:
quot01

3

In [34]:
data1 = (1,2,3)
type(data1)

tuple

In [35]:
list(data1) #튜플을 리스트로 바꾸는 방법

[1, 2, 3]